
@import '~purecss/build/pure.css';

textarea {
    width: 100%;
    resize: vertical;
    padding: 1em;
    box-sizing: border-box;
}

.container {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

form {
    hr {
        opacity: 0.2;
    }
}

fieldset {
    .error {
        color: red;
    }
}
